<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rent.rentmanagement.renttest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owner.HomePageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owner.BuildActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owner.roomActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owner.roomDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owner.StudentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owner.TotalTenantsctivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owner.edit_rooms"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owner.studentProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owner.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owner.automanualActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owner.manualActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owner.buildingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tenants.TenantActivity"
            android:label="@string/title_activity_tenant" />

        <service
            android:name=".Tenants.Services.GetAvailableRoomsService"
            android:exported="false" />

        <activity android:name=".Owner.ownerTenantRequestDetails" />

        <service
            android:name=".GetRoomRequestsService"
            android:exported="false"></service>
    </application>

</manifest>